.aboutwhat {
	background-image:url(Graphics/PageGraph/About-What_before.fw.png);
	width: 100%;
	height: 700px;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.aboutwhat:hover {
	background-image:url(Graphics/PageGraph/About-What.fw.png);
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}

.aboutwhy {
	background-image:url(Graphics/PageGraph/About-Why-before.fw.png);
	width: 100%;
	height: 700px;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.aboutwhy:hover {
	background-image: url(Graphics/PageGraph/About-Why.fw.png);
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}

.abouthistory {
	background-image:url(Graphics/PageGraph/About-History_before.fw.png);
	width: 100%;
	height: 700px;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.abouthistory:hover {
	background-image:url(Graphics/PageGraph/About-History.fw.png);
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.aboutSM {
	background-image:url(Graphics/PageGraph/About-sm_before.fw.png);
	width: 100%;
	height: 700px;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.aboutSM:hover {
	background-image:url(Graphics/PageGraph/About-SM.fw.png);
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}


