#aboutwhat {
	background-image:url(Graphics/PageGraph/About-What_before.fw.png);
	}
#aboutwhat:hover {
	background-image:url(Graphics/PageGraph/About-What.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}

#aboutwhy {
	background-image:url(Graphics/PageGraph/About-Why-before.fw.png);

	}
#aboutwhy:hover {
	background-image: url(Graphics/PageGraph/About-Why.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}

#abouthistory {
	background-image:url(Graphics/PageGraph/About-History_before.fw.png);

	}
#abouthistory:hover {
	background-image:url(Graphics/PageGraph/About-History.fw.png);

	}
#aboutSM {
	background-image:url(Graphics/PageGraph/About-sm_before.fw.png);

	}
#aboutSM:hover {
	background-image:url(Graphics/PageGraph/About-SM.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
