

#how {
	background-image:url(Graphics/PageGraph/Loyalty_How.fw.png);
	}
#how:hover {
	background-image: url(Graphics/PageGraph/Loyalty_How_After.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}
#need {
	background-image:url(Graphics/PageGraph/Loyalty_Need.fw.png);
	}
#need:hover {
	background-image: url(Graphics/PageGraph/Loyalty_Need_After.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}
.CLform {
	background-image: url(Graphics/PageGraph/CLformbg.fw.png);
	width: 100%;
	height: 700px;
	background-size: 100%;
	background-repeat:no-repeat;
	}
