/*CSS FOR CONTACT PAGE */

.contactitem{
	width: 700px;
	height: 500px;
	margin: 10px;
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
}

#location {
	background-image: url("Graphics/PageGraph/ContactUs_Location_before.fw.png");
	}
#location:hover {
	background-image:url("Graphics/PageGraph/ContactUs_Location.fw.png");
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}

#phonenumber {
	background-image: url("Graphics/PageGraph/ContactUs_Phone_before.fw.png");
	}
#phonenumber:hover {
	background-image: url("Graphics/PageGraph/ContactUs_Phone.fw.png");
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}

#hours {
	background-image: url("Graphics/PageGraph/ContactUs_Hours_before.fw.png");
	}
#hours:hover {

	background-image: url("Graphics/PageGraph/ContactUs_Hours.fw.png");
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}

#section4 {
	width: 700px;
	height: 500px;
}
