
#box{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.menuitem{
	width: 700px;
	height: 500px;
	margin: 10px;
	background-size: 100%;
	background-repeat:no-repeat;
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
}

#menu {
	background-image:url(Graphics/PageGraph/MenuB.fw.png);

	}
#menu:hover {
	background-image: url(Graphics/PageGraph/MenuA.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}

#CL {
	background-image:url(Graphics/PageGraph/CustormerLoyaltyB.fw.png);
	}
#CL:hover {
	background-image: url(Graphics/PageGraph/CustomerLoyaltyA.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}

#reservations {
	background-image:url(Graphics/PageGraph/ReservationsB.fw.png);
	}
#reservations:hover {
	background-image:url(Graphics/PageGraph/ReservationsA.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}

#reviews {
	background-image:url(Graphics/PageGraph/ReviewsB.fw.png);
	}
#reviews:hover {
	background-image: url(Graphics/PageGraph/ReviewsA.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}

#contactus {
	background-image:url(Graphics/PageGraph/ContactB.fw.png);
	}
#contactus:hover {
	background-image: url(Graphics/PageGraph/ContactA.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}

#aboutus {
	background-image: url(Graphics/PageGraph/AboutUsB.fw.png);
	}
#aboutus:hover {
	background-image: url(Graphics/PageGraph/AboutUsA.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}
