
.menu {
	background-image:url(Graphics/PageGraph/MenuB.fw.png);
	height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 700px;
	}
/*.menu:hover {
	background-image: url(Graphics/PageGraph/MenuA.fw.png);
	transition: background .3s ease-in;
	height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 700px;
	}
/*.CL {
	background-image:url(Graphics/PageGraph/CustormerLoyaltyB.fw.png);
	width: 45%;
	height: 500px;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	position: absolute;
	left: 50%;
	bottom: 500px;
	}
.CL:hover {
	background-image: url(Graphics/PageGraph/CustomerLoyaltyA.fw.png);
	transition: background .3s ease-in;
	width: 45%;
	height: 500px;
	background-size: 100%;
	background-repeat:no-repeat;
	position: absolute;
	left: 50%;
	bottom: 500px;
	}
	
/*	
.reservations {
	background-image:url(Graphics/PageGraph/ReservationsB.fw.png);
	width: 100%;
	height: 500px;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.reservations:hover {
	background-image:url(Graphics/PageGraph/ReservationsA.fw.png);
	transition: background .3s ease-in;
	width: 100%;
	height: 500px;
	background-size: 100%;
	background-repeat:no-repeat; 
	}
.reviews {
	background-image:url(Graphics/PageGraph/ReviewsB.fw.png);
	width: 100%;
	height: 500px;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.reviews:hover {
	background-image: url(Graphics/PageGraph/ReviewsA.fw.png);
	transition: background .3s ease-in;
	width: 100%;
	height: 500px;
	background-size: 100%;
	background-repeat:no-repeat; 
	}
.contactus {
	background-image:url(Graphics/PageGraph/ContactB.fw.png);
	width: 100%;
	height: 500px;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.contactus:hover {
	background-image: url(Graphics/PageGraph/ContactA.fw.png);
	transition: background .3s ease-in;
	width: 100%;
	height: 500px;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.aboutus {
	background-image: url(Graphics/PageGraph/AboutUsB.fw.png);
	width: 100%;
	height: 500px;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat:no-repeat;
	}
.aboutus:hover {
	background-image: url(Graphics/PageGraph/AboutUsA.fw.png);
	transition: background .3s ease-in;
	width: 100%;
	height: 500px;
	background-size: 100%;
	background-repeat:no-repeat;
	}
