.menupageitem{
	width: 90%;
	height: 700px;
	margin: 10px;
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-size: 100%;
	background-repeat: no-repeat;
}

#sandwiches {
	background-image:url(Graphics/PageGraph/MenuSandwichesBefore.fw.png);
	}
#sandwiches:hover {
	background-image:url(Graphics/PageGraph/MenuSandwiches.fw.png);
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	}

#soups {
	background-image:url(Graphics/PageGraph/MenuSoupsBefore.fw.png);
	}

#soups:hover {
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-image:url(Graphics/PageGraph/MenuSoups.fw.png);
	}

#muffins {
	background-image:url(Graphics/PageGraph/MenuMuffinsBefore.fw.png);
	}
#muffins:hover {
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-image:url(Graphics/PageGraph/MenuMuffins.fw.png);
	}

#bagels {
	background-image:url(Graphics/PageGraph/MenuBagelsBefore.fw.png);
	}
#bagels:hover {
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-image:url(Graphics/PageGraph/MenuBagels.fw.png);
	}

#cupcakes {
	background-image:url(Graphics/PageGraph/MenuCupcakesBefore.fw.png);
	}
#cupcakes:hover {
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-image:url(Graphics/PageGraph/MenuCupcakes.fw.png);
	}

#drinks {
	background-image:url(Graphics/PageGraph/MenuDrinksBefore.fw.png);
	}
#drinks:hover {
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-image:url(Graphics/PageGraph/MenuDrinks.fw.png);
	}

#cookies {
	background-image:url(Graphics/PageGraph/MenuCookiesBefore.fw.png);
	}
#cookies:hover {
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-image:url(Graphics/PageGraph/MenuCookie.fw.png);
	}

#pastries {
	background-image:url(Graphics/PageGraph/MenuPastriesBefore.fw.png);
	}
#pastries:hover {
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in;
	background-image:url(Graphics/PageGraph/MenuPastries.fw.png);
	}
